.login-page {
  margin: .2em auto;
  max-width: 638px;
  text-align: center;
  width: 80%;
}

.login-page h1 {
  font: 2.5em 'Shrikhand', cursive;
}

.login-page h3 {
  font: 1.1em 'Montserrat', sans-serif;
  line-height: 1.8em;
}